<form
  *ngIf="isLogOut()"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  id="login-form"
>
  <fieldset>
    <legend>Username</legend>
    <input
      id="login-username"
      name="username"
      type="text"
      title="Your username"
      formControlName="username"
      placeholder="please enter your username"
    />

    <ng-container
      *ngTemplateOutlet="
        validationIconTemplate;
        context: { fieldName: 'username' }
      "
    >
    </ng-container>
  </fieldset>
  <fieldset>
    <legend>Password</legend>
    <input
      id="login-password"
      name="password"
      type="password"
      title="Your password"
      formControlName="password"
      placeholder="please enter your password"
    />

    <ng-container
      *ngTemplateOutlet="
        validationIconTemplate;
        context: { fieldName: 'password' }
      "
    >
    </ng-container>
  </fieldset>

  <div class="btn-bar">
    <button [disabled]="!form.valid" type="submit">Submit</button>
    <button type="reset">Reset</button>
  </div>
</form>

<div *ngIf="!form.pristine && !form.valid" class="error-box">
  <ng-container *ngFor="let prop of props | keyvalue">
    <ng-container *ngFor="let info of prop.value | keyvalue">
      <p
        *ngIf="
          form.get(prop.key)?.hasError(info.key) &&
          !form.get(prop.key)?.pristine
        "
      >
        {{ info.value.msg }}
      </p>
    </ng-container>
  </ng-container>
</div>

<div>{{ errMsg }}</div>

<ng-template #validationIconTemplate let-fieldName="fieldName">
  <svg *ngIf="form.get(fieldName)?.pristine" class="fill-pristine">
    <path
      d="M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M12 20C7.59 20 4 16.41 4 12S7.59 4 12 4 20 7.59 20 12 16.41 20 12 20M16.59 7.58L10 14.17L7.41 11.59L6 13L10 17L18 9L16.59 7.58Z"
    />
  </svg>
  <ng-container
    *ngIf="!form.get(fieldName)?.pristine"
    [ngSwitch]="form.get(fieldName)?.status"
  >
    <svg *ngSwitchCase="'INVALID'" class="fill-invalid">
      <path
        d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z"
      />
    </svg>
    <svg *ngSwitchCase="'VALID'" class="fill-valid" viewBox="0 0 24 24">
      <path
        d="M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M12 20C7.59 20 4 16.41 4 12S7.59 4 12 4 20 7.59 20 12 16.41 20 12 20M16.59 7.58L10 14.17L7.41 11.59L6 13L10 17L18 9L16.59 7.58Z"
      />
    </svg>
  </ng-container>
</ng-template>
