<div id="settings-content">
  <select
    #theme
    (change)="setTheme(theme.value)"
    name="themes-options"
    title="Choose your theme"
  >
    <option
      *ngFor="let theme of settingsModel?.themes"
      [selected]="theme.name == settingsModel?.theme?.name"
    >
      {{ theme.name }}
    </option>
  </select>

  <select
    #font
    (change)="setFont(font.value)"
    name="font-options"
    title="Choose your font"
  >
    <option
      *ngFor="let font of settingsModel?.fonts"
      [selected]="font.name == settingsModel?.font?.name"
    >
      {{ font.name }}
    </option>
  </select>
</div>
