@import "variables";

#settings-content {
  display: flex;
  padding: 0.8em;
  background-color: aqua;
  flex-direction: column;
  gap: 0.6em;
  position: fixed;
  left: min(calc(100% - 150px), calc($main-max-width - 150px));
  animation: growDown 150ms ease-in-out;
  z-index: 1;
}

@keyframes growDown {
  0% {
    max-height: 0;
    overflow: hidden;
  }

  100% {
    max-height: unset;
  }
}
