.icon-btn {
  border-radius: 1em;
  border: unset;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  height: 5em;
  width: 5em;
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-family: unset;
  min-width: 5em;

  &:hover {
    background-color: rgb(197, 197, 197);
  }

  p {
    margin: auto;
    margin-top: 0.05em;
  }

  svg {
    margin: auto;
    margin-bottom: 0.1em;
    height: 2.2em;
    width: 2.2em;
  }
}

@keyframes rotate360 {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}
