<div id="zones-map-page">
  <div id="zoo-map-wrapper">
    <img src="/assets/images/zoo_map.svg" alt="a" />

    <div id="zoo-map-layer">
      <app-enclosure-layer> </app-enclosure-layer>
    </div>

    <!-- <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="100%"
      viewBox="0 0 1229 597"
      xml:space="preserve"
    >
      <path
        (click)="goToEnclosure()"
        tabindex="0"
        id="path-vulture"
        class="path-enclosure"
        fill="transparent"
        d="M 142.00,215.00
       C 142.00,215.00 266.00,281.00 266.00,281.00
         266.00,281.00 425.00,197.00 425.00,197.00
         425.00,197.00 307.00,127.00 307.00,127.00
         307.00,127.00 142.00,216.00 142.00,216.00"
      />
    </svg> -->
  </div>
</div>
