#zones-map-page {
  display: flex;
  flex-direction: column;
  background-color: red;
  #zoo-map-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    img {
      min-width: 320px;
      max-width: 90%;
      width: 1600px;
    }
  }
}

#zoo-map-layer {
  background: transparent;
  position: absolute;
  width: 90%;
}
