<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      [href]="settingsModel?.theme?.cssUrl ?? '#' | safe : 'resourceUrl'"
    />
    <title>Document</title>
  </head>
  <body [ngClass]="settingsModel?.font?.cssClass">
    <header>
      <app-nav-bar [settingsModel]="settingsModel"></app-nav-bar>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </body>
</html>
