@import "reset";
@import "variables";

* {
  color: var(--txt-primary);
  background-color: var(--bg-primary);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $main-max-width;
  min-width: $main-min-width;
}
